.chartAxis text{
    text-transform: uppercase;
    font-weight: 200;
    font-size: 14px;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    .chartAxis text{
        font-size: 10px;
    }
}

.chartGrid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.chartGrid path {
    stroke-width: 0;
}

.chartAxis line{
    stroke: #E5E5E5;
}

.chartAxis path{
    stroke-opacity: 0;
}